[submodule "lib/forge-std"]
	path = lib/forge-std
	url = git@github.com:mrheyday/forge-std.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = git@github.com:mrheyday/openzeppelin-contracts.git
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = git@github.com:mrheyday/v3-core.git
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = git@github.com:mrheyday/v3-periphery.git
